<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hyperz.SharpLeech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hyperz.SharpLeech.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://www.path.to/forum</value>
            </setting>
            <setting name="SectionId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IconId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSeoLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="PageStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PageMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForumType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeechDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableContentRegex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTitleRegex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddPersonalMessage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PersonalMessage" serializeAs="String">
                <value>[b]-------------------------------------------
Topic posted by SharpLeech version 2.x.x
-------------------------------------------[/b]
</value>
            </setting>
            <setting name="ContentRegex" serializeAs="String">
                <value>Link checked on [a-zA-Z]{2,}.*\[Linkchecker Bot\]
\[size=[0-9"']+\]
\[/size\]
\[mod\][\s\S]+\[/mod\]
~\w+~</value>
            </setting>
            <setting name="TitleRegex" serializeAs="String">
                <value>\s*[\[\(][+\w\s/\\._]+[\]\)]\s*</value>
            </setting>
            <setting name="IrcNickname" serializeAs="String">
                <value>SharpLeech_User</value>
            </setting>
            <setting name="TitlebarInfo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogChatbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteDiagnostics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioVolume" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="LeechSite" serializeAs="String">
                <value />
            </setting>
            <setting name="LeechUsername" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="LeechPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="PostUsername" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="PostPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IrcServer" serializeAs="String">
                <value>irc.dal.net</value>
            </setting>
            <setting name="Debugging" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableDateEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAeroInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCustomThemes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomThemeFile" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableWin7Futures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSplash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowRedirects" serializeAs="String">
                <value>True</value>
            </setting>
        </Hyperz.SharpLeech.Properties.Settings>
    </userSettings>
</configuration>